<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}colmec{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- Header / Navbar -->
    <header>
        <nav class="navbar">
            <!-- Logo Container -->
            <div class="logo-container">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/colmec-logo2.png') }}" alt="Logo" class="logo-image">
                </a>
            </div>
            <!-- Navigation Links -->
            <div class="nav-links">
                <a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">WELCOME</a>
                <a href="{{ url_for('research') }}"
                    class="{% if request.endpoint == 'research' %}active{% endif %}">RESEARCH</a>
                <a href="{{ url_for('resources') }}"
                    class="{% if request.endpoint == 'resources' %}active{% endif %}">RESOURCES</a>
                <a href="{{ url_for('people') }}"
                    class="{% if request.endpoint == 'people' %}active{% endif %}">PEOPLE</a>
                <a href="{{ url_for('news') }}" class="{% if request.endpoint == 'news' %}active{% endif %}">NEWS</a>
                <a href="{{ url_for('contact') }}"
                    class="{% if request.endpoint == 'contact' %}active{% endif %}">CONTACT</a>
            </div>

        </nav>
    </header>
</body>


<!-- Main Content -->
<main>
    {% block content %}{% endblock %}
</main>

</html>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">