<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}colmec{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <!-- Header / Navbar -->
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/colmec-logo2.png') }}" alt="Logo" class="logo-image">
                </a>
            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <!-- Navigation Links -->
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}" {% if request.endpoint=='home' %}class="active" {% endif
                        %}>WELCOME</a></li>
                <li><a href="{{ url_for('research') }}" {% if request.endpoint=='research' %}class="active" {% endif
                        %}>RESEARCH</a></li>

                <li><a href="{{ url_for('resources') }}" {% if request.endpoint=='resources' %}class="active" {% endif
                        %}>RESOURCES</a></li>
                <li><a href="{{ url_for('people') }}" {% if request.endpoint=='people' %}class="active" {% endif
                        %}>PEOPLE</a></li>
                <li><a href="{{ url_for('news') }}" {% if request.endpoint=='new' %}class="active" {% endif %}>NEWS</a>
                </li>
                <li><a href="{{ url_for('contact') }}" {% if request.endpoint=='contact' %}class="active" {% endif
                        %}>CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>