<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Debora Monego
              </h1>
              <p>I am a postdoctoral researcher at the <a href='https://www.h-its.org/research/mbm/'>Molecular Biomechanics group</a> at the <a href='https://www.h-its.org/'>Heidelberg Institute for Theoretical Studies</a>, collaborating with <a href='https://www.h-its.org/people/prof-dr-frauke-grater/'>Prof. Dr. Frauke Gräter</a> to create models for understanding protein dynamics and mechanics.
              </p>
              <p>
               I earned my PhD in Chemistry from <a href='https://www.sydney.edu.au/science/'>Sydney University</a>, where I researched the impact of surface ligands on colloidal stability and nanoparticle interactions with <a href='https://www.sydney.edu.au/science/about/our-people/academic-staff/asaph-widmer-cooper.html'>Prof. Asaph Widmer-Cooper</a>. Following this, I served as a Chemistry Lecturer at <a href='https://www.college.columbia.edu/'>Columbia University</a>, teaching the <a href='https://www.college.columbia.edu/core/classes/fos.php/'>Frontiers of Science</a> course.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/debora-monego">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=0CKe2C4AAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/debora-monego-59994b126/"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://twitter.com/debmonego/" > Twitter</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_round.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I explore the intersection of mechanical and chemical signaling in biological systems using computational tools, aiming to develop innovative, biologically inspired materials.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:150%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

        <tr onmouseout="ligandlength_stop()" onmouseover="ligandlength_start()">
        <td style="padding:20px;width:30%;vertical-align:middle">
          <div class="one">
            <div class="two" id='ligandlength_image'>
              <img src='images/ligandlength_after.png' width="250"></div>
            <img src='images/ligandlength_before.png' width="250">
          </div>
          <script type="text/javascript">
            function ligandlength_start() {
              document.getElementById('ligandlength_image').style.opacity = "1";
            }

            function ligandlength_stop() {
              document.getElementById('ligandlength_image').style.opacity = "0";
            }
            ligandlength_stop()
          </script>
        </td>
        <td style="padding:20px;width:70%;vertical-align:middle">
          <a href="https://pubs.acs.org/doi/abs/10.1021/acs.langmuir.8b02883">
            <span class="papertitle">Colloidal stability of apolar nanoparticles: role of ligand length</span>
          </a>
          <br>
          <strong>Debora Monego</strong>, Thomas Kister, Nicholas Kirkwood, Paul Mulvaney, Asaph Widmer-Cooper, Tobias Kraus 
          <br>
          <em>Langmuir</em>, 2018
          <br>
          <!--<a href="https://yifanjiang19.github.io/alignerf">project page</a>-->
          <a href="https://arxiv.org/abs/1902.07413">arXiv</a>
          <p></p>
          <p>
          We reveal that varying ligand length impacts colloidal stability differently in core- and ligand-dominated regimes, offering a microscopic understanding of the forces affecting the stability of apolar nanoparticles and elucidating the limitations of classical colloid theory.
          </p>
        </td>
      </tr>

          
        <tr onmouseout="npsize_stop()" onmouseover="npsize_start()">
        <td style="padding:20px;width:30%;vertical-align:middle">
          <div class="one">
            <div class="two" id='npsize_image'>
              <img src='images/npsize_after.png' width="250"></div>
            <img src='images/npsize_before.png' width="250">
          </div>
          <script type="text/javascript">
            function npsize_start() {
              document.getElementById('npsize_image').style.opacity = "1";
            }

            function npsize_stop() {
              document.getElementById('npsize_image').style.opacity = "0";
            }
            npsize_stop()
          </script>
        </td>
        <td style="padding:20px;width:70%;vertical-align:middle">
          <a href="https://pubs.acs.org/doi/abs/10.1021/acsnano.8b02202">
            <span class="papertitle">Colloidal stability of apolar nanoparticles: The role of particle size and ligand shell structure</span>
          </a>
          <br>
          Thomas Kister, <strong>Debora Monego</strong>, Paul Mulvaney, Asaph Widmer-Cooper, Tobias Kraus 
          <br>
          <em>ACS Nano</em>, 2018
          <br>
          <!--<a href="https://yifanjiang19.github.io/alignerf">project page</a>-->
          <a href="https://arxiv.org/abs/1808.09599">arXiv</a>
          <p></p>
          <p>
          We demonstrate, using small-angle X-ray scattering and molecular dynamics simulations, that the agglomeration of apolar particles is governed by either the core or the ligand shell, contingent on particle size and materials.
          </p>
        </td>
      </tr>

        
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching and Outreach</h2>
              <p>In addition to research, I am passionate about teaching and making science accessible and equitable to all.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

